.header {
  grid-column: 1 / 4;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 76px;
  place-items: center;

  box-shadow: 0 1px 0 rgba(17, 17, 17, 0.1);
}

.headerLogo {
  grid-column-start: 1;
  justify-self: start;
  margin-left: 51px;
}

.headerForm {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  color: rgba(17, 17, 17, 0.48);
}

.headerForm a:first-child {
  margin-right: 12px;
}

.headerForm a:last-child {
  margin-left: 12px;
}